#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #292323;
    height: 55vh;
    width: 100%;
    /* opacity: 40%; */
    padding-top: 10vh;
}

#T1 {
    text-align: center;
}

#textcontainer {
    
    margin: auto;
}


.bigText {
    width: 90vw;
    align-items: center;
    margin: auto;
    text-align: center;
}

p {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin: 0 !important; 
    

}

h1 {
    margin-top: 0px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
