#ticket-title-container {
    height: 22vh;
    background-color: #292323;
    text-align: center;
}

#ticket-title {
    margin: 0;
    padding-top: 3vh !important;

}

#ticket-p {
    margin-top: 2vh !important;
    
}

#ticket-container {
    height: 63vh;
    background-color: #292323;
   
}

#ticket-price-container {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
   
    margin: 0 auto;
    
    height: 80%;
}

.ticket {
    text-align: center;
    height: 90%;
    width: 28%;
    background: rgb(97, 87, 87);
    align-self: self-end;
    border-radius: 30px;
}

#main-ticket {
    align-self: flex-start;

}
.ticket-title {
    font-family: 'Inter', sans-serif;
    margin-bottom: 2px !important;
    text-shadow: 2px 2px 4px #000000;
}

.ticket-text {
    margin: 2rem !important;
    margin-top: 2px !important;
}

h2 {
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 2px !important;
    text-shadow: 2px 2px 4px #000000;
}

#total-price {
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

